{% extends "billing/base.html" %}

{% block title %}
Bill History
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow-lg border-0">

        <div class="card-header text-white"
             style="background:#7A0019;">

            <h2 class="mb-0">
                Bill History
            </h2>

        </div>

        <div class="card-body">

            <!-- SEARCH BOX -->

            <form method="GET" class="mb-4">

                <div class="row">

                    <div class="col-md-4">

                        <input
                            type="text"
                            name="search"
                            class="form-control"
                            placeholder="Search Month"
                            value="{{ search }}"
                        >

                    </div>

                    <div class="col-md-2">

                        <button
                            type="submit"
                            class="btn btn-primary">

                            Search

                        </button>

                    </div>

                </div>

            </form>

            <table class="table table-bordered table-hover">

                <thead class="table-dark">

                    <tr>
                        <th>Month</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>

                </thead>

                <tbody>

                {% for bill in bills %}

                    <tr>

                        <td>
                            {{ bill.meter_reading.month }}
                        </td>

                        <td>
                            {{ bill.created_at|date:"d M Y" }}
                        </td>

                        <td>
                            Rs. {{ bill.total_amount }}
                        </td>

                        <td>

                            {% if bill.bill_status == "Paid" %}

                                <span class="badge bg-success">
                                    Paid
                                </span>

                            {% else %}

                                <span class="badge bg-danger">
                                    Unpaid
                                </span>

                            {% endif %}

                        </td>

                      <td>

    <a href="{% url 'bill_detail' bill.id %}"
       class="btn btn-primary btn-sm">
        View
    </a>

    {% if bill.bill_status == "Paid" %}

    <a href="{% url 'download_bill' bill.id %}"
       class="btn btn-danger btn-sm">
        PDF
    </a>

    {% endif %}

</td>

                    </tr>

                {% empty %}

                    <tr>

                        <td colspan="5" class="text-center">

                            No bills found.

                        </td>

                    </tr>

                {% endfor %}

                </tbody>

            </table>

            <a href="{% url 'home' %}"
               class="btn btn-secondary">

                Back Home

            </a>

        </div>

    </div>

</div>

{% endblock %}