{% extends "billing/base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<!-- HERO SECTION -->

<div style="
background:
linear-gradient(
rgba(0,0,0,0.25),
rgba(0,0,0,0.25)
),
url('/static/images/power.jpg');
background-size:cover;
background-position:center;
min-height:550px;
border-radius:0 0 20px 20px;
">

<div class="container-fluid py-5 px-5">

<div class="row align-items-center">

<div class="col-lg-7 text-white">

<h1 class="display-2 fw-bold">
Smart Electricity Billing System
</h1>

<h2 class="fw-light">
Online Payment Management System
</h2>

<p class="lead mt-4">
Pay bills online securely, submit meter readings,
view bill history and manage your electricity account.
</p>

{% if user.is_authenticated %}

<a href="/add-reading/" class="btn btn-warning btn-lg me-2">
Add Meter Reading
</a>

<a href="/bill-history/" class="btn btn-light btn-lg">
View Bills
</a>

{% else %}

<a href="/accounts/login/" class="btn btn-success btn-lg me-2">
Login
</a>

<a href="/users/register/" class="btn btn-light btn-lg">
Register
</a>

{% endif %}

</div>

{% if user.is_authenticated %}

<div class="col-lg-4 offset-lg-1">

<div class="card shadow-lg border-0">

<div class="card-body p-4">

<h2>Account Summary</h2>

<hr>

<p>
<strong>User:</strong>
{{ user.username }}
</p>

<p>
<strong>Status:</strong>
Active
</p>

<p>
<strong>Customer Type:</strong>
Domestic
</p>

<p>
<strong>System:</strong>
Smart Billing
</p>

</div>

</div>

</div>

{% endif %}

</div>

</div>

</div>

{% if user.is_authenticated %}

<!-- QUICK ACTIONS -->

<div class="container mt-5">

<h2 class="text-center mb-4">
Quick Actions
</h2>

<div class="row g-4">

<div class="col-md-3">

<div class="card shadow h-100 text-center">

<div class="card-body">

<h4>Add Reading</h4>

<p>
Submit your current meter reading.
</p>

<a href="/add-reading/"
class="btn btn-primary">
Open
</a>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card shadow h-100 text-center">

<div class="card-body">

<h4>Bill History</h4>

<p>
View all generated bills.
</p>

<a href="/bill-history/"
class="btn btn-warning">
Open
</a>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card shadow h-100 text-center">

<div class="card-body">

<h4>Payment History</h4>

<p>
View payment transactions.
</p>

<a href="/payment-history/"
class="btn btn-success">
Open
</a>

</div>

</div>

</div>

{% if user.is_staff %}

<div class="col-md-3">

<div class="card shadow h-100 text-center">

<div class="card-body">

<h4>Admin Panel</h4>

<p>
Manage the system.
</p>

<a href="/admin/"
class="btn btn-dark">
Open
</a>

</div>

</div>

</div>

{% endif %}

</div>

</div>

{% endif %}

{% endblock %}